.layout {
    display: flex;
    min-height: 100vh;
    background-color: var(--color-background);
}

.mainWrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 0;
    /* Prevent flex overflow */
}

.content {
    flex: 1;
    padding: var(--spacing-xl);
    overflow-y: auto;
}

@media (max-width: 768px) {
    .layout {
        flex-direction: column;
    }

    .content {
        padding: 1rem;
        padding-bottom: 90px;
    }
}